In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Pingzhuang,CN,2021-03-04 05:24:37,42.0372,119.2889,55.65,35,7,15.61
1,1,Puerto Ayora,EC,2021-03-04 05:24:37,-0.7393,-90.3518,75.99,95,87,1.57
2,2,Barrow,US,2021-03-04 05:24:39,71.2906,-156.7887,-18.40,69,1,5.75
3,3,Jamestown,US,2021-03-04 05:24:19,42.0970,-79.2353,34.00,98,90,5.93
4,4,Hobart,AU,2021-03-04 05:24:07,-42.8794,147.3294,69.01,32,0,19.57

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [43]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=200, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [52]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [55]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Puerto Ayora,EC,2021-03-04 05:24:37,-0.7393,-90.3518,75.99,95,87,1.57
11,11,Busselton,AU,2021-03-04 05:24:41,-33.6500,115.3333,77.00,63,26,7.00
13,13,Padang,ID,2021-03-04 05:24:30,-0.9492,100.3543,87.80,66,20,6.91
16,16,Taunggyi,MM,2021-03-04 05:24:42,20.7833,97.0333,80.11,16,14,13.85
17,17,Cayenne,GF,2021-03-04 05:24:43,4.9333,-52.3333,79.00,89,75,3.44
19,19,Axim,GH,2021-03-04 05:24:43,4.8699,-2.2405,79.70,89,100,10.27
21,21,Flinders,AU,2021-03-04 05:24:44,-34.5833,150.8552,82.00,58,15,4.00
24,24,Avarua,CK,2021-03-04 05:24:45,-21.2078,-159.7750,80.60,83,97,3.44
29,29,Vanimo,PG,2021-03-04 05:24:47,-2.6741,141.3028,83.03,77,65,10.71
32,32,Labuan,MY,2021-03-04 05:24:48,5.2767,115.2417,89.60,55,20,3.44

In [58]:
preferred_cities_df.count()

City_ID       156
City          156
Country       156
Date          156
Lat           156
Lng           156
Max Temp      156
Humidity      156
Cloudiness    156
Wind Speed    156
dtype: int64

In [59]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
1   Puerto Ayora      EC     75.99  -0.7393  -90.3518
11     Busselton      AU     77.00 -33.6500  115.3333
13        Padang      ID     87.80  -0.9492  100.3543
16      Taunggyi      MM     80.11  20.7833   97.0333
17       Cayenne      GF     79.00   4.9333  -52.3333
19          Axim      GH     79.70   4.8699   -2.2405
21      Flinders      AU     82.00 -34.5833  150.8552
24        Avarua      CK     80.60 -21.2078 -159.7750
29        Vanimo      PG     83.03  -2.6741  141.3028
32        Labuan      MY     89.60   5.2767  115.2417

In [60]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

In [63]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.

In [67]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Puerto Ayora,EC,75.99,-0.7393,-90.3518,Finch Bay Galapagos Hotel
11,Busselton,AU,77.00,-33.6500,115.3333,Observatory Guest House
13,Padang,ID,87.80,-0.9492,100.3543,Mercure Padang
16,Taunggyi,MM,80.11,20.7833,97.0333,True Treasure Hotel
17,Cayenne,GF,79.00,4.9333,-52.3333,Hôtel Le Dronmi
19,Axim,GH,79.70,4.8699,-2.2405,AXIM BEACH RESORT AND SPA
21,Flinders,AU,82.00,-34.5833,150.8552,Shellharbour Resort & Conference Centre
24,Avarua,CK,80.60,-21.2078,-159.7750,Paradise Inn
29,Vanimo,PG,83.03,-2.6741,141.3028,Vahmoneh Lodge Vanimo
32,Labuan,MY,89.60,5.2767,115.2417,Tiara Labuan Hotel

In [69]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [72]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [74]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))